.BG-Black{
    background: black !important;
}

.CenterDiv{   
    display: flex !important;
    width: 50%;
    transform: translate(60%,0);
}

.UnderDiv{   
    position: absolute !important;
    width: 50%;
    transform: translate(50%,400%);
}

.image{
    max-width: 100px;
    img{
        border-radius: 4px;
    }
}

.ProductList{
    margin: 2rem;
    border: 1px solid rgb(249, 166, 0);
    border-radius: 10px;
}

.Product{
    padding: 0rem;
    margin: 1.5rem;
    border: 1px solid rgb(249, 166, 0);
    border-radius: 10px;
    display: flex;
    align-items: start;
}

.TopMargin{
    padding-top: 2rem;
}

.ProductValues{
    scale: 1.4;
    width: 700px;
    margin-left: 15rem;
    text-align: start;
    padding: 1rem;
    div{
        margin: .5rem;
    }
}

.ProductValuesAdmin{
    width: 700px;
    margin-left: 2rem;
    text-align: start;
    padding: 1rem;
    div{
        margin: .5rem;
    }
}

input, button{
    background: black;
    border: 1px solid rgb(249, 166, 0);
    outline: none;
}

input:focus{
    background: rgb(0, 0, 0);
    outline: none;
  }

.CartOptions{
    text-align: start;
    display: flex;
    flex-direction: column;
    position:absolute;
    right: 50px;
    transform: translate(0, 20px);
    margin: .5rem;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
  }
  
  .li {
    padding: .2rem;
    float: left;
  }
  
  .li a {
   
    color: white !important;
    display: block;
    padding: 10px;
    margin: .5rem;
    font-size: large;
    background-color: #ff950076;
    border-radius: 4px;
  }

.AddToCart{
    margin: .5rem;
}

.Bold{
    font-size: larger;
    font-weight: 600;
}

.AddProductBox{
    margin-top: 1rem;
    position:relative;
    width: 50%;
    left: 40%;
}

.DeleteButton{
    font-size: larger;
    position: fixed;
    top: 0%;
    right: 0%;
}

input{
    width: 400px;
    overflow:scroll;
}

select{
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: white;
    background-color: #ff950076;

    option{
        color: rgb(255, 255, 255);
        background-color: #ff950076;
    }
} 

.NavButton{
    text-decoration: none !important;
    cursor: pointer;
    color:white;
    background-color:#ff9500b9;
}

.NavButton:hover{
    cursor: pointer;
    color:white;
    background-color:#ff9500b9;
}

.NavButton:active{
    color:white;
    background-color:#ff9500;
}

.active{
    background-color:#ff9500d8;
}

.categorySelect{
    position: absolute;
    right: 4%;
    top: 11%;
    background-color: transparent !important;
    color: white !important;
    border: none !important;
}

.yo{
    width: 200%;
    transform: translate(100px,100px);
}

.subMenuButton{
    background-color: rgb(0, 0, 0) !important;
    font-size: large;
    font-weight: 600;
    color: rgb(255, 255, 255) !important;
    border: none !important;
    :hover{
        color: #ff9500 !important;
    }
}

.subMenuButton:hover{
    color: #ff9500 !important;
}

.subSubMenuButton{
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    transform: translate(2.5rem, 0);
    border: none !important;
}

.subSubMenuButton:hover{
    color: #ff9500 !important;
}

.dropdown-menu{
    background-color: black !important;
    border: 1px solid #ff9500 !important;
    transform: translate(1000px,35px);
}

.dropdown-submenu .dropdown-menu {
    margin-top: -1px;
}

a{
    all: unset;
}

.a{
    all: unset !important;
}